### Daten einlesen

In [3]:
import pandas as pd
import numpy as np
import random

# Pfad zur Datei
#pfad = r"C:\Users\sha_r\OneDrive - FH Graubünden\FHGR_\4. Semester\Masterthesis\Daten\order_129784_data.txt"
# df = pd.read_csv("data/merged_df.csv",  sep=';', low_memory=False)

# Manuell definierte Spaltennamen (alle 9!)
spalten = [
    "stn", "time", "tre200dv", "tre200d0",
    "rzz150dx", "rka150d0", "su2000d0", "fu3010d0", "tso100d0"
]

# Datei einlesen – ohne den echten Header zu benutzen!
df = pd.read_csv(
    "order_129784_data.txt",
    sep=';',
    names=spalten,
    header=None,             # <--- wichtig!
    na_values=['', 'NA', '-999'],
    dtype=str                # erst mal alles als String
)

# Erste Zeile wegwerfen, wenn das die ursprüngliche Header-Zeile ist
if df.iloc[0]['stn'] == 'stn':
    df = df.iloc[1:]

# Zeitspalte in datetime umwandeln
df['time'] = pd.to_datetime(df['time'], format='%Y%m%d', errors='coerce')

# Zahlen-Spalten in float konvertieren
for col in spalten[2:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Index setzen
df.set_index('time', inplace=True)

df = df.rename(columns={
    "tre200dv": "Temp_Abw",
    "tre200d0": "Temp_Mittel",
    "rzz150dx": "Niederschlag_Max_10min",
    "rka150d0": "Niederschlag_Tag",
    "su2000d0": "Sonnenschein_h",
    "fu3010d0": "Wind_kmh",
    "tso100d0": "Bodentemp_100cm",
    "stn": "Station"
})

# Ergebnis checken
df.head()

,Station,Temp_Abw,Temp_Mittel,Niederschlag_Max_10min,Niederschlag_Tag,Sonnenschein_h,Wind_kmh,Bodentemp_100cm
time,,,,,,,,
2000-01-01,ALT,1.3,1.5,0.0,0.0,1.2,4.0,NaN
2000-01-02,ALT,2.0,2.2,0.0,0.0,3.8,4.3,NaN
2000-01-03,ALT,-0.3,-0.1,0.0,0.0,0.6,5.0,NaN
2000-01-04,ALT,-0.5,-0.3,0.0,0.0,2.6,4.7,NaN
2000-01-05,ALT,2.6,2.8,0.0,0.0,0.0,3.2,NaN

In [4]:
stationen = pd.DataFrame([
    ["ALT", "Altdorf", "8°37'/46°53'", "690180/193564", 437],
    ["ANT", "Andermatt", "8°35'/46°38'", "687444/165044", 1434],
    ["RAG", "Bad Ragaz", "9°30'/47°01'", "756910/209350", 496],
    ["BAS", "Basel/Binningen", "7°35'/47°32'", "610908/265611", 316],
    ["BER", "Bern/Zollikofen", "7°28'/46°59'", "601933/204409", 552],
    ["CHM", "Chaumont", "6°59'/47°03'", "565060/211006", 1136],
    ["CHD", "Château-d'Oex", "7°08'/46°29'", "577040/147654", 1028],
    ["GSB", "Col du Grand St-Bernard", "7°10'/45°52'", "579192/79753", 2472],
    ["DAV", "Davos", "9°51'/46°49'", "783518/187458", 1594],
    ["ELM", "Elm", "9°11'/46°55'", "732265/198424", 957],
    ["ENG", "Engelberg", "8°25'/46°49'", "674160/186069", 1035],
    ["GVE", "Genève/Cointrin", "6°08'/46°15'", "498904/122631", 410],
    ["GRH", "Grimsel Hospiz", "8°20'/46°34'", "668583/158215", 1980],
    ["GRC", "Grächen", "7°50'/46°12'", "630738/116062", 1605],
    ["JUN", "Jungfraujoch", "7°59'/46°33'", "641938/155287", 3571],
    ["CDF", "La Chaux-de-Fonds", "6°48'/47°05'", "550919/214861", 1017],
    ["OTL", "Locarno/Monti", "8°47'/46°10'", "704166/114316", 366],
    ["LUG", "Lugano", "8°58'/46°00'", "717873/95884", 273],
    ["LUZ", "Luzern", "8°18'/47°02'", "665543/209849", 454],
    ["MER", "Meiringen", "8°10'/46°44'", "655844/175930", 588],
    ["NEU", "Neuchâtel", "6°57'/47°00'", "563086/205559", 485],
    ["SBE", "S.Bernardino", "9°11'/46°28'", "734115/147294", 1638],
    ["SAM", "Samedan", "9°53'/46°32'", "787249/155685", 1708],
    ["SIA", "Segl-Maria", "9°46'/46°26'", "778574/144976", 1804],
    ["SIO", "Sion", "7°20'/46°13'", "591633/118583", 482],
    ["STG", "St. Gallen", "9°24'/47°26'", "747865/254588", 775],
    ["SAE", "Säntis", "9°21'/47°15'", "744187/234920", 2501],
    ["SMA", "Zürich/Fluntern", "8°34'/47°23'", "685116/248065", 555]
], columns=["stn", "Name", "Koordinaten_GMS", "Koordinaten_km", "Hoehe_m"])

# Stationen in Wetterdaten-DataFrame integrieren
df = df.reset_index()  # damit "time" keine Indexspalte ist
df = df.merge(stationen, left_on='Station', right_on='stn', how='left')
# df = df.set_index('time')  # Zeit wieder als Index setzen
# Spalte "Koordinaten_km" aufteilen in zwei Zahlen

In [5]:
def gms_to_decimal(gms_str):
    if not isinstance(gms_str, str) or "°" not in gms_str:
        return np.nan
    parts = gms_str.replace("'", "").split("°")
    if len(parts) != 2:
        return np.nan
    degrees = int(parts[0])
    minutes = float(parts[1])
    return degrees + minutes / 60

# Funktion: Ganze GMS-Zeile wie "8°37'/46°53'" → lon, lat
def parse_gms_pair(gms_pair):
    if not isinstance(gms_pair, str) or "/" not in gms_pair:
        return pd.Series({"lon": np.nan, "lat": np.nan})
    lon_gms, lat_gms = gms_pair.split("/")
    lon = gms_to_decimal(lon_gms.strip())
    lat = gms_to_decimal(lat_gms.strip())
    return pd.Series({"lon": lon, "lat": lat})

# Anwenden
df[["lon", "lat"]] = df["Koordinaten_GMS"].apply(parse_gms_pair)

df = df.drop(columns=['stn'])

In [6]:
df

,time,Station,Temp_Abw,Temp_Mittel,Niederschlag_Max_10min,Niederschlag_Tag,Sonnenschein_h,Wind_kmh,Bodentemp_100cm,Name,Koordinaten_GMS,Koordinaten_km,Hoehe_m,lon,lat
0,2000-01-01,ALT,1.3,1.5,0.0,0.0,1.2,4.0,NaN,Altdorf,8°37'/46°53',690180/193564,437.0,8.616667,46.883333
1,2000-01-02,ALT,2.0,2.2,0.0,0.0,3.8,4.3,NaN,Altdorf,8°37'/46°53',690180/193564,437.0,8.616667,46.883333
2,2000-01-03,ALT,-0.3,-0.1,0.0,0.0,0.6,5.0,NaN,Altdorf,8°37'/46°53',690180/193564,437.0,8.616667,46.883333
3,2000-01-04,ALT,-0.5,-0.3,0.0,0.0,2.6,4.7,NaN,Altdorf,8°37'/46°53',690180/193564,437.0,8.616667,46.883333
4,2000-01-05,ALT,2.6,2.8,0.0,0.0,0.0,3.2,NaN,Altdorf,8°37'/46°53',690180/193564,437.0,8.616667,46.883333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255718,2024-12-27,SMA,NaN,-2.9,-1.8,0.0,0.0,0.0,3.2,Zürich/Fluntern,8°34'/47°23',685116/248065,555.0,8.566667,47.383333
255719,2024-12-28,SMA,NaN,-2.6,-1.5,0.0,0.0,0.0,2.5,Zürich/Fluntern,8°34'/47°23',685116/248065,555.0,8.566667,47.383333
255720,2024-12-29,SMA,NaN,-2.8,-1.7,0.0,0.0,0.0,2.9,Zürich/Fluntern,8°34'/47°23',685116/248065,555.0,8.566667,47.383333
255721,2024-12-30,SMA,NaN,-3.3,-2.3,0.0,0.0,0.0,2.5,Zürich/Fluntern,8°34'/47°23',685116/248065,555.0,8.566667,47.383333
255722,2024-12-31,SMA,NaN,-3.5,-2.5,0.0,0.0,0.0,2.2,Zürich/Fluntern,8°34'/47°23',685116/248065,555.0,8.566667,47.383333

In [7]:
import pandas as pd
from datetime import datetime
from pyproj import Transformer

# ----------------------------
# 1. Excel-Datei laden
# ----------------------------

# Pfad zur Datei
#datei = r"C:\Users\sha_r\OneDrive\Dokumente\GitHub\Masterthesis\Daten\WSL.xlsx"
df_wsl = pd.read_excel("WSL.xlsx")

# ----------------------------
# 2. Spalten umbenennen
# ----------------------------

df_wsl.rename(columns={
    'Datum': 'time',
    'Hauptprozess': 'Unwetterart',
    'Schadensausmass, gering [0.01-0.4], mittel [0.4-2], gross/katastrophal[>2] oder Todesfall [Mio. CHF]': 'Schweregrad',
    'x-Koordinate': 'x',
    'y-Koordinate': 'y'
}, inplace=True)

# Datum umwandeln in datetime
df_wsl['time'] = pd.to_datetime(df_wsl['time'], dayfirst=True)
df_wsl['x'] = pd.to_numeric(df_wsl['x'], errors='coerce')
df_wsl['y'] = pd.to_numeric(df_wsl['y'], errors='coerce')
df_wsl = df_wsl.dropna(subset=['x', 'y']).copy()

df_wsl

,Gemeinde,time,Unwetterart,Schweregrad,x,y
0,Baulmes,2000-01-02,Sturz,gering,528292.0,182263.0
1,Riddes,2000-01-02,Sturz,gering,583118.0,111336.0
2,Kradolf-Schönenberg,2000-01-07,Rutschung,gering,730629.0,263673.0
3,Monthey,2000-01-15,Sturz,gering,561764.0,122123.0
4,Chur,2000-01-30,Wasser/Murgang,gering,756869.0,190457.0
...,...,...,...,...,...,...
15398,Innerthal,2023-12-17,Sturz,gering,711326.0,218375.0
15399,Belp,2023-12-18,Rutschung,gering,605064.0,190757.0
15400,Toffen,2023-12-19,Rutschung,gering,603735.0,188651.0
15401,Zollikon,2023-12-22,Rutschung,gering,687856.0,245066.0
15402,Tschlin,2023-12-23,Sturz,mittel,831936.0,202431.0

In [8]:
# ----------------------------
# 3. Koordinaten (LV03 → WGS84)
# ----------------------------

# Transformer vorbereiten
transformer = Transformer.from_crs("epsg:21781", "epsg:4326", always_xy=True)

# Umrechnung: CH-Koordinaten in lat/lon
df_wsl['lon'], df_wsl['lat'] = zip(*df_wsl.apply(lambda row: transformer.transform(row['x'], row['y']), axis=1))

# ----------------------------
# 4. Grad/Minuten-Format (GMS)
# ----------------------------

def decimal_to_dms(deg):
    d = int(deg)
    m = int(abs(deg - d) * 60)
    return f"{d}°{m}'"

df_wsl['Koordinaten_GMS'] = df_wsl.apply(lambda row: f"{decimal_to_dms(row['lon'])}/{decimal_to_dms(row['lat'])}", axis=1)

# ----------------------------
# 5. Kilometerformat (x/y in km)
# ----------------------------

df_wsl['Koordinaten_km'] = df_wsl.apply(lambda row: f"{row['x'] / 1000:.3f}/{row['y'] / 1000:.3f}", axis=1)

# ----------------------------
# 6. Endformat erstellen
# ----------------------------

df_wsl = df_wsl[['time', 'lat', 'lon', 'Unwetterart', 'Schweregrad', 'Koordinaten_GMS', 'Koordinaten_km', 'Gemeinde']]

# Ergebnis anzeigen
df_wsl.head()

,time,lat,lon,Unwetterart,Schweregrad,Koordinaten_GMS,Koordinaten_km,Gemeinde
0,2000-01-02,46.787662,6.499506,Sturz,gering,6°29'/46°47',528.292/182.263,Baulmes
1,2000-01-02,46.153291,7.220129,Sturz,gering,7°13'/46°9',583.118/111.336,Riddes
2,2000-01-07,47.510815,9.172801,Rutschung,gering,9°10'/47°30',730.629/263.673,Kradolf-Schönenberg
3,2000-01-15,46.249449,6.942848,Sturz,gering,6°56'/46°14',561.764/122.123,Monthey
4,2000-01-30,46.846748,9.495524,Wasser/Murgang,gering,9°29'/46°50',756.869/190.457,Chur

In [9]:
merged_df = pd.concat([df, df_wsl], ignore_index=True, sort=False)

In [10]:
merged_df = merged_df.dropna(subset=['lon'])

In [11]:
#Datum anpassen
merged_df['time'] = pd.to_datetime(merged_df['time'])
merged_df = merged_df[merged_df['time'] <= '2023-12-31'].copy()

# Nur das Datum extrahieren (Zeitanteil wird abgeschnitten)
merged_df['time'] = merged_df['time'].dt.date

In [12]:
merged_df

,time,Station,Temp_Abw,Temp_Mittel,Niederschlag_Max_10min,Niederschlag_Tag,Sonnenschein_h,Wind_kmh,Bodentemp_100cm,Name,Koordinaten_GMS,Koordinaten_km,Hoehe_m,lon,lat,Unwetterart,Schweregrad,Gemeinde
0,2000-01-01,ALT,1.3,1.5,0.0,0.0,1.2,4.0,NaN,Altdorf,8°37'/46°53',690180/193564,437.0,8.616667,46.883333,NaN,NaN,NaN
1,2000-01-02,ALT,2.0,2.2,0.0,0.0,3.8,4.3,NaN,Altdorf,8°37'/46°53',690180/193564,437.0,8.616667,46.883333,NaN,NaN,NaN
2,2000-01-03,ALT,-0.3,-0.1,0.0,0.0,0.6,5.0,NaN,Altdorf,8°37'/46°53',690180/193564,437.0,8.616667,46.883333,NaN,NaN,NaN
3,2000-01-04,ALT,-0.5,-0.3,0.0,0.0,2.6,4.7,NaN,Altdorf,8°37'/46°53',690180/193564,437.0,8.616667,46.883333,NaN,NaN,NaN
4,2000-01-05,ALT,2.6,2.8,0.0,0.0,0.0,3.2,NaN,Altdorf,8°37'/46°53',690180/193564,437.0,8.616667,46.883333,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271119,2023-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8°54'/47°6',711.326/218.375,NaN,8.905366,47.107012,Sturz,gering,Innerthal
271120,2023-12-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7°30'/46°52',605.064/190.757,NaN,7.505052,46.867921,Rutschung,gering,Belp
271121,2023-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7°29'/46°50',603.735/188.651,NaN,7.487605,46.848986,Rutschung,gering,Toffen
271122,2023-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8°36'/47°21',687.856/245.066,NaN,8.601407,47.350591,Rutschung,gering,Zollikon
271123,2023-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10°29'/46°55',831.936/202.431,NaN,10.485081,46.932442,Sturz,mittel,Tschlin

In [13]:
merged_df.to_csv("merged_df.csv", sep=';', index=False)
zielpfad = r"C:\Users\sha_r\OneDrive\Dokumente\GitHub\Masterthesis\data\merged_df.csv"
#"C:\Users\sha_r\OneDrive\Dokumente\GitHub\Masterthesis\data\merged_df.csv"
merged_df.to_csv(zielpfad, sep=';', index=False)

print("Datei wurde gespeichet")

Datei wurde gespeichet